/*-----Global Styles----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
}
/*-----Login Page Styles----*/
.login-page {
    background: #edf1f7;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.login-page .login-left-side {
    background: #6cee82;
    height: 80vh;
}
.login-page .login-right-side {
    background: white !important;
    height: 80vh;
}
.login-page .login-left-side img {
    height: 200px;
}
.login-page button {
    background: #5dd96d;
    color: white;
}
.login-page p {
    color: dimgray;
    text-align: center;
}
/*-----Table Styles----*/
table th {
    height: 45px;
    background: #eeeeee;
    padding-left: 1rem;
}
table td {
    height: 45px;
    padding-left: 1rem;
    border-bottom: 1px solid silver;
}

